## 2. At the right place

In [1]:
import sys
sys.path.append('../src')
from data_loading import *
import numpy as np
import seaborn as sns
import math
import matplotlib.pyplot as plt

```python
data_2018 = YearLoader(2018)
data_2018.get_dataframe("characteristics")
data_2018.get_dataframe("locations")
data_2018.get_dataframe("passengers")
data_2018.get_dataframe("vehicles")
```

## Accidents per regions/departments (map of France)

In [2]:
data = YearLoader(2018)

/Users/ambroiserenaud/anaconda3/envs/ada/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
def get_dep_count_df(data):
    """Create a DataFrame (dep, count) counting number of injuries per depertment.

    Parameters
    ----------
    data : YearLoader
        Dataset loading class.

    Returns
    -------
    pandas.DataFrame
        dep_count DataFrame.

    """
    characteristics = data.get_dataframe('characteristics')
    
    # Format dep
    # Remove 0 at the end of dep number if the dep number is not DOM-TOM
    characteristics['dep'] = characteristics.apply(lambda x: x.dep//10 if x.dep<971 else x.dep, axis=1)
    # Add 0 in front of dep number if dep number is lower than 10
    characteristics['dep'] = characteristics.apply(lambda x: '0'+str(x.dep) if x.dep<10 else str(x.dep), axis=1)
    
    # Count values per dep
    dep_count = pd.DataFrame(characteristics['dep'].value_counts())
    dep_count.reset_index(level=0, inplace=True)
    dep_count.rename(columns={'index':'dep',
                              'dep':'count'}, 
                     inplace=True)
    return dep_count
    
get_dep_count_df(data)

   dep  count
0   75   5591
1   13   3413
2   93   2735
3   94   2548
4   92   2520
..  ..    ...
95  09     90
96  48     76
97  46     75
98  23     61
99  90     58

[100 rows x 2 columns]

In [9]:
#dep_count.to_csv('dep_count.csv', index=False)

![SegmentLocal](map_france.gif "segment")